body {
    background-image: url('background2.jpeg');
    background-repeat: repeat-y;
    background-size: cover;
    background-color: black;

}

.mainHeader {
    padding: 120px;
    text-align: center;
    font-size: 59px;
}

form {
    text-align: center;
    margin-bottom: 0px;
    
}

input[type="text"] {
    width: 500px;
    height: 18px;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid Blue;
    border-radius: 100px;
    background-color: transparent;
    color: white;
}

input::placeholder {
    color: white;
}

button {
    width: 100px;
    height: 40px;
    background-color: Blue;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 20px;
}