header {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
}

header h1 {
    font-size: 75px;
}

.subheaders {
    margin-left: 200px;
    margin-top: 100px;

    font-size: 35px;
}