* {
    margin: auto;
    text-align: center;
}

html {
    background-color: #C0DFD9;
}



/* ----------------------------------- HEADER PROPERTIES --------------------------------------- */

header {
    margin: auto;
    background-color: #e9ece68d;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 9;
    padding: 5px;
}
header h1 {
    font-size: 25px;
    margin-right: 42%;
    font-family: Arial, Helvetica, sans-serif;
}

header div {
    width: 900px;
    display: flex;
    position: absolute;
    font-size: large;
    margin-left: 10%;
}
header div a{
    color: black;
}

header img {
    width: 40px;
    border-radius: 50%;
    /* padding: 5px; */
}

header .username {
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 1px;
}

header .Comp-Logo {
    /* background-color: blue; */
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}

.SearchBar2 {
    margin-right: 15px;
    border-radius: 10px;
    height: 20px;
    margin-left: 20%;
}

.TopLinks {
    margin-right: 10%;
}

/* --------------------------- MAIN ----------------------------- */

main {
    background-color: rgb(38, 37, 51);
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.banner {
    width: auto;
    height: auto;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.banner img {
    width: 100%;
    height: 425px;
}

.banner-title {
    position: absolute;
    /* z-index: 9; */
    top: 25%;
}

.banner h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

.banner h2 {
    display: flex;
    align-items: center;  
    justify-content: center;
}

.SearchBar1 {
    width: 500px;
    border-radius: 20px;
    height: 30px;
    background-color: #68DCDC;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 10%;
}

/* ----------------------------------- INFO BLOCKS ---------------------------------- */
.info-one {
    text-align: center;
}
.info-one .first-info-box{
    /* display: flex; */
    width: 500px;
    height: auto;
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    /* background-color: blue; */
}

.info-one .first-info-box h3{
    color: white;
    width: 500px;
    text-align: center;
    /* padding-right: 20px; */
    margin-bottom: 10px;
}

.info-one .first-info-box .first-info-box-link {
    width: 500px;
    height: 50px;
    font-weight: 1000;
    font-size: 30px;
    background-color: #68DCDC;
}

.info-one .second-info-box{
    display: flex;
    width: 1000px;
    height: auto;
    margin-top: 100px;
}

.info-one .second-info-box h3{
    color: white;
    width: auto;
    margin-right: 60px;
    margin-left: 20px;
    text-align: center;
    padding-right: 20px;
}

.info-one .second-info-box img {
    width: 500px;
}

.info-one {
    padding-bottom: 20px;
}

footer {
    background-color: gray;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}